
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotMyView</title>
</head>
<body>
   My Id is 0,This is not my id
</body>
</html>
